In [8]:
import nltk
import numpy as np
import pandas as pd
import seaborn as sns
from nltk.corpus import stopwords
from nltk.tokenize import wordpunct_tokenize
nltk.download('stopwords')
import matplotlib.pyplot as plt

df = pd.read_csv('zomato.csv')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rohan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
df.head(1)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari

In [10]:
col = ['url', 'address', 'phone']
df.drop(col, inplace=True, axis=1)
df.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost(for two people)',
       'reviews_list', 'menu_item', 'listed_in(type)', 'listed_in(city)'],
      dtype='object')

renaming columns

In [11]:
df = df.rename(columns={'approx_cost(for two people)':'approx_cost', 'listed_in(type)':'type', 'listed_in(city)':'neighbourhood'})
df.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost', 'reviews_list',
       'menu_item', 'type', 'neighbourhood'],
      dtype='object')

dropping duplicate records

In [12]:
duplicate_records = df[df.duplicated()]
len(duplicate_records)
df.drop_duplicates(inplace=True)

cleaning rates by removing '/5'

In [13]:
def clean_rate(rate):
    if rate == '-' or rate == 'NEW':
        return np.nan
    l = str(rate).split('/')
    return float(l[0])
df['rate'] = df['rate'].apply(clean_rate)
df['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    NaN
51714    NaN
51715    4.3
51716    3.4
Name: rate, Length: 51654, dtype: float64

##
cleaning approx costs

In [14]:
df['approx_cost'] = df['approx_cost'].str.replace(',', '').astype(float)
df['approx_cost']

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: approx_cost, Length: 51654, dtype: float64

In [ ]:
df.to_csv('zomato_final.csv')